{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="{% static '/css/style1.css' %}">
</head>
<body>
    <div class="main">
        <h1>Gallery Vault</h1>
        <h3>Enter your login </h3>

        <form action="{% url 'signin' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="first">Username:</label>
            <input type="text" id="first" name="username" placeholder="Enter your Username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>

            <div class="submt">
                <button type="submit">Submit</button>
            </div>
            <div class="signup">
                <p>Not  registered?<a href="{% url 'signup' %}">create an account</a></p>
            </div>
            
        </form>
   
        
</body>
</html>