{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>galleryVault.net</title>
</head>
<body>
    <nav>
        <div class="nav-con">
    <h1>Gallery Vault</h1>
        </div>
    <button><a class="add-btn" href="{% url 'add' %}">Add</a></button>
    </nav>

    <div class="img-del">

    {% for i in feeds %}
    <div class="img-del">
    <a href="{% url 'pic' i.id %}">
    <img class="img" src="{{ i.classimages.url }}" alt="Image">
    <p>

    <a class="urdelete" href="{% url 'urdelete' i.id %}">delete</a>
    </a>
    </p>
    </div>
    
    {% endfor %}
</div>    
</body>
</html>